body {
  background: #828282;
  padding-bottom: 100px;
}
div.window {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  max-height: 500px;
  margin-top: 40px;
  border-radius: 25px;
  border: 1px solid #bdbdbd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.2)
    ),
    url(/media/images/04n.jpeg);
  background-size: 700px;
}
header {
  display: flex;
  margin-top: 10px;
  position: relative;
  bottom: 10px;
}

h1 {
  display: inline-flex;
  font-size: 94px;
  font-weight: normal;
  color: #000000;
  opacity: 0.5;
  text-shadow: #ffffff 1px 0 8px;
}

.main-icon {
  width: 30%;
  opacity: 0.5;
  margin-top: 32px;
  position: relative;
  right: 40px;
  bottom: 12px;
}
h2 {
  font-size: 26px;
  display: inline;
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
  text-shadow: #ffffff 1px 0 8px;
}
h3 {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  opacity: 0.5;
  text-shadow: #ffffff 1px 0 8px;
  text-transform: capitalize;
  position: relative;
  top: 5px;
}
h4 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
  text-shadow: #ffffff 1px 0 8px;
}
.detailes {
  margin-top: 20px;
}
h5 {
  display: inline-flex;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  opacity: 0.5;
  text-shadow: #ffffff 1px 0 8px;
  line-height: 5px;
}

.active-unit {
  display: inline;
  height: 50%;
  padding: 0 2px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  opacity: 0.5;
  text-decoration: none;
  text-shadow: #ffffff 1px 0 8px;
  cursor: default;
}
.inactive-unit {
  display: inline;
  height: 50%;
  padding: 0 2px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  text-shadow: #ffffff 1px 0 8px;
  cursor: pointer;
}
.inactive-unit:hover {
  color: #005f72;
  text-shadow: #fff9ab 1px 3px 8px;
  text-decoration: none;
  cursor: pointer;
}
.space {
  display: inline-block;
  width: 5px;
}
img {
  opacity: 70%;
}

form {
  display: inline-flex;
  float: right;
  position: relative;
  bottom: 36px;
}
input {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.geo-location {
  display: inline-flex;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 30px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 240, 240);
  opacity: 0.5;
  position: relative;
  right: 44px;
  top: 10px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.geo-location:hover {
  border: 1px solid #31a2b8;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
}

hr {
  position: relative;
  bottom: 14px;
}
.days-info {
  text-align: center;
}
.icon {
  margin: 0 auto;
  width: 30%;
}
.days {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  text-shadow: #ffffff 1px 0 8px;
}
.temp {
  font-size: 20px;
  font-weight: 300;
  margin-top: 15px;
  text-shadow: #ffffff 1px 0 8px;
}
small {
  display: block;
  margin: 0 auto;
  width: 700px;
  padding-top: 5px;
  color: #353535;
}
small a {
  color: #6db0e3;
  transition: all 250ms ease-in-out;
}
